<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <connectionStrings>
        <add name="Softlock" connectionString="Data Source=HIJ-LP191;Initial Catalog=Spectrawin;Integrated Security= False ;user=sa; password=Test@123; Persist Security Info=False; Connect Timeout=30000" providerName="System.Data.SqlClient" />
    </connectionStrings>
  
  <appSettings>
    <add key="DirectoryPath" value="C:\Users\Darshini.Shah.INFOVISIONLABS\OneDrive - InfoVision Labs India Pvt. Ltd\Desktop\Softlock\OldPDF" />
  </appSettings>
  
</configuration>