

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Softlock</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color: #024ea8 !important; font-size:2rem !important; font-weight: 700;">
                    <img src="~/images/softlock.png" width="40" height="40" class="d-inline-block align-top" alt="">
                    Softlock
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>



                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" style="color: #024ea8 !important" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Generate
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Home" asp-action="LicenseDetails">User License</a>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="RepoLicenseDetails">Rep. License</a>
                                    @if (((System.Security.Claims.Claim)((System.Security.Claims.ClaimsIdentity)User.Identity).Claims.ToList()[1]).Value == "SuperUser" ||
                                       ((System.Security.Claims.Claim)((System.Security.Claims.ClaimsIdentity)User.Identity).Claims.ToList()[1]).Value == "Admin" )
                                    {
                                        <a class="dropdown-item" asp-controller="Home" asp-action="MasterLicenseDetails">Master License</a>
                                    }
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: #024ea8 !important" asp-area="" asp-controller="Home" asp-action="Decode">Decode</a>
                            </li>
                            @if (((System.Security.Claims.Claim)((System.Security.Claims.ClaimsIdentity)User.Identity).Claims.ToList()[1]).Value == "Admin")
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" style="color: #024ea8 !important" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Manage
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="Home" asp-action="Index">Users</a>
                                        <a class="dropdown-item" asp-controller="Home" asp-action="Index">Options</a>

                                    </div>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" style="color: #024ea8 !important" asp-area="" asp-controller="Account" asp-action="Logout">Log Out</a>
                            </li>
                        </ul>
                    }

                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="row" style="margin-right:10px;">
                        <div class="col-md-12">
                            Hello, @User.Identity.Name
                        </div>
                    </div>
                }
                <a class="site-logo" data-emacategory="Top Navigation" data-emalabel="Home Logo" href="https://www.jadaktech.com/" title="Jadak - A Novanta Company" rel="home">
                    <svg id="f2270d27-15b2-49a0-af3d-826c5a7d4ae2" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="152.73" height="50.31" viewBox="0 0 152.73 50.31">
                        <path d="M28.38,16.9a6.31,6.31,0,0,0,.11,1.16s1.28-1.61,1.82-2.46c0,0,.21-1.74.25-2.09a21.45,21.45,0,0,1-2.18,3.39" fill="#0e52a1"></path>
                        <path d="M29.58,18.74c.71-.45,1.85-1.16,1.78-1a23.33,23.33,0,0,0,2.22-4c-.46.35-.93.7-1.41,1a24.87,24.87,0,0,1-2.59,3.95" fill="#0e52a1"></path>
                        <path d="M29.3,28.59a11.72,11.72,0,0,0-1.25-.17A18,18,0,0,0,29.58,30s1.72.55,1.93.6a20.19,20.19,0,0,1-2.21-2.05" fill="#0e52a1"></path>
                        <path d="M30.74,21.58l2.15-.19a46.69,46.69,0,0,0,3.79-2.73c-.56.14-1.14.23-1.7.33a22.18,22.18,0,0,1-4.24,2.59" fill="#0e52a1"></path>
                        <path d="M30.45,19.42a6.21,6.21,0,0,0-.31,1.08,20.23,20.23,0,0,0,2.38-1.3s1-1.51,1.08-1.72a19.88,19.88,0,0,1-3.15,1.94" fill="#0e52a1"></path>
                        <path d="M26.63,30.56c-.35-.29-1.16-.85-1.16-.85.23.78.51,1.51.81,2.25,0,0,1.3,1.16,1.55,1.37a22.49,22.49,0,0,1-1.2-2.77" fill="#0e52a1"></path>
                        <path d="M18.91,13.26a24.52,24.52,0,0,1,2.54,3.19,14.83,14.83,0,0,0-.95-2.63,23.54,23.54,0,0,0-2.13-2.22c.17.48.33,1,.48,1.45Z" fill="#0e52a1"></path>
                        <path d="M16.53,18.84a15,15,0,0,1,1.64.07l0,0A21.72,21.72,0,0,0,14.52,17c-.76,0-1.51,0-2.27,0a22.65,22.65,0,0,1,4.28,1.82" fill="#0e52a1"></path>
                        <path d="M13.82,20c1.22,0,3.68.19,3.68.19a14,14,0,0,0-2.21-1,21.23,21.23,0,0,0-3.19,0l1.72.78" fill="#0e52a1"></path>
                        <path d="M15.33,22.07a13.05,13.05,0,0,1,1.61-.62,22.62,22.62,0,0,0-4-.29c-.72.27-1.39.6-2.07.93a22.26,22.26,0,0,1,4.47,0" fill="#0e52a1"></path>
                        <path d="M24.31,15.89a13,13,0,0,0,.19-2.8,26.35,26.35,0,0,0-1.08-3c-.06.57-.12,1.13-.19,1.69a22.7,22.7,0,0,1,1.08,4.08" fill="#0e52a1"></path>
                        <path d="M20.69,10.86a21.77,21.77,0,0,1,1.41,4.36c.29.32,1,.94,1,.94a23.22,23.22,0,0,0-.93-3.67s-1.06-1.18-1.51-1.63" fill="#0e52a1"></path>
                        <path d="M34.72,22.18a20.8,20.8,0,0,1-3.35.35,5.08,5.08,0,0,0-.75.85l2.46-.15,1.64-1.05" fill="#0e52a1"></path>
                        <path d="M18.93,16.41l1.43.6s-1.6-2.2-2.51-3.17c-.7-.31-1.38-.6-2.07-.85a22.71,22.71,0,0,1,3.15,3.42" fill="#0e52a1"></path>
                        <path d="M39.91,23.54a26.16,26.16,0,0,0,6.7-4.09l-.52-.63a25.15,25.15,0,0,1-7.71,4.45l1.53.27" fill="#0e52a1"></path>
                        <path d="M30.52,24.62a12.63,12.63,0,0,0,2.64.68s2.77-.43,4.16-.83c-.56-.12-1.12-.25-1.69-.41a22.36,22.36,0,0,1-5.11.56" fill="#0e52a1"></path>
                        <path d="M2.85,23.48l.34.74A23.21,23.21,0,0,1,6.37,23c.85-.53,1.7-1,2.57-1.47a24.59,24.59,0,0,0-6.09,1.93" fill="#0e52a1"></path>
                        <path d="M33.41,41.33l.5-.64a25.14,25.14,0,0,1-3.95-4c-.71-.5-1.41-1-2.11-1.6a24.26,24.26,0,0,0,5.56,6.29" fill="#0e52a1"></path>
                        <path d="M16.86,22.86a11.48,11.48,0,0,0-2-.06,28.25,28.25,0,0,0-3.22,1.32l1.92,0c1.08-.45,3.33-1.3,3.33-1.3" fill="#0e52a1"></path>
                        <path d="M39.89,35.75l.22-.77a23.21,23.21,0,0,1-5.42-2.19c-.84-.17-1.67-.37-2.5-.6a23.52,23.52,0,0,0,7.7,3.56" fill="#0e52a1"></path>
                        <path d="M15.6,25.51a15.9,15.9,0,0,1,1.24-1.22,25,25,0,0,0-3.54,1.2c-.54.55-1.07,1.09-1.55,1.67a22.32,22.32,0,0,1,3.85-1.65" fill="#0e52a1"></path>
                        <path d="M43.59,28l-.13-.79a24.21,24.21,0,0,1-5.79.25c-.82.19-1.65.35-2.48.5a23.67,23.67,0,0,0,8.4,0" fill="#0e52a1"></path>
                        <path d="M20,28.84a23.31,23.31,0,0,0-1.35,2.75c0,.23,0,1.63.08,2.25A22.68,22.68,0,0,1,20,30.55a16.26,16.26,0,0,1,0-1.71" fill="#0e52a1"></path>
                        <path d="M28.49,14.79a23.65,23.65,0,0,0,.33-4c-.27.51-.56,1-.87,1.51a24.94,24.94,0,0,1-.7,4.42c.49-.72,1.24-2,1.24-1.9" fill="#0e52a1"></path>
                        <path d="M33.93,26.79a24.06,24.06,0,0,1-3-1,7,7,0,0,0-1.1.42,22.14,22.14,0,0,0,2.16.87l1.9-.27" fill="#0e52a1"></path>
                        <path d="M26,16.53s.54-2.23.67-3.35L26,11.09a23.47,23.47,0,0,1-.57,4.32A9.69,9.69,0,0,0,26,16.53" fill="#0e52a1"></path>
                        <path d="M16.84,3.7l-.6.56a23.62,23.62,0,0,1,2.32,2.86c.76.62,1.47,1.28,2.15,1.94A23.65,23.65,0,0,0,16.84,3.7" fill="#0e52a1"></path>
                        <path d="M19.12,18S18,16.65,17.28,16.05a23.4,23.4,0,0,0-2.86-1.22c.33.33,1.22,1.35,1.22,1.35A22.18,22.18,0,0,1,19.1,18Z" fill="#0e52a1"></path>
                        <path d="M9.43,8.13l-.31.75a27.74,27.74,0,0,1,3,1.51c.94.26,1.87.55,2.8.88A25.1,25.1,0,0,0,9.43,8.13" fill="#0e52a1"></path>
                        <path d="M4.49,15.14l0,.83a21.51,21.51,0,0,1,3.23.12c.95-.16,1.9-.27,2.85-.35a24.92,24.92,0,0,0-6.1-.6" fill="#0e52a1"></path>
                        <path d="M28.65,7.92A26.42,26.42,0,0,0,26.42,0l-.73.33a25.93,25.93,0,0,1,2.26,9c.25-.47.46-.95.7-1.43" fill="#0e52a1"></path>
                        <path d="M8,29.67c.56-.79,1.17-1.56,1.78-2.32a25.88,25.88,0,0,0-5.11,4.38l.6.54A30.22,30.22,0,0,1,8,29.67" fill="#0e52a1"></path>
                        <path d="M16.47,34.59q-.55.64-1.08,1.32a27.39,27.39,0,0,0,0,9.39l.79-.14a26.91,26.91,0,0,1,.31-10.57" fill="#0e52a1"></path>
                        <path d="M14.77,28.15c.83-.85,2.55-2.58,2.55-2.58a13.92,13.92,0,0,0-1.7.66A25.12,25.12,0,0,0,13,28.86c.5-.21,1.78-.71,1.78-.71" fill="#0e52a1"></path>
                        <path d="M11.05,31.44a27.92,27.92,0,0,0-3.81,8.79l.81.19a26.3,26.3,0,0,1,4.53-9.76c-.52.26-1,.51-1.53.78" fill="#0e52a1"></path>
                        <path d="M12.66,15.1l-1.22-1.16a27.75,27.75,0,0,0-9.31-.45l.1.81a26,26,0,0,1,10.43.8" fill="#0e52a1"></path>
                        <path d="M8.94,19.59A27.53,27.53,0,0,0,0,22.92l.41.72a26.43,26.43,0,0,1,10.16-3.47c-.54-.21-1.09-.41-1.63-.58" fill="#0e52a1"></path>
                        <path d="M10.67,25.53c-.59,0-1.17.06-1.75.1a27.44,27.44,0,0,0-7.1,6.74l.66.48a26,26,0,0,1,8.19-7.32" fill="#0e52a1"></path>
                        <path d="M27.51,36.6c0,.57.13,1.13.23,1.69a26.86,26.86,0,0,0,6.4,5.86l.45-.67a26,26,0,0,1-7.08-6.88" fill="#0e52a1"></path>
                        <path d="M33.84,35.5A26.26,26.26,0,0,0,41.67,38l.14-.8A25.77,25.77,0,0,1,33,34.09c.27.48.56.95.86,1.41" fill="#0e52a1"></path>
                        <path d="M16,9.66A27.4,27.4,0,0,0,8,5.65l-.23.8a25.9,25.9,0,0,1,8.93,4.72c-.2-.5-.41-1-.64-1.51" fill="#0e52a1"></path>
                        <path d="M36.93,29.35c.43.31.85.62,1.28.89a26.37,26.37,0,0,0,7.91-.93l-.21-.78a25.44,25.44,0,0,1-9,.82" fill="#0e52a1"></path>
                        <path d="M17.83,37.88q-.21-1.37-.33-2.79a25,25,0,0,0-.6,7.69l.81-.06a25.09,25.09,0,0,1,.12-4.84" fill="#0e52a1"></path>
                        <path d="M21.23,38.41a26.9,26.9,0,0,0,3.62,8.28l.68-.45a25.63,25.63,0,0,1-3.81-9.46c-.18.52-.35,1.06-.49,1.63" fill="#0e52a1"></path>
                        <path d="M22.72,36a24.79,24.79,0,0,0,2.56,7.75L26,43.4a23.4,23.4,0,0,1-1.94-5c-.47-.78-.91-1.55-1.34-2.37" fill="#0e52a1"></path>
                        <path d="M12.93,32.08a24.29,24.29,0,0,0-3.29,6.44l.77.27A25,25,0,0,1,12.12,35c.23-1,.5-1.94.81-2.88" fill="#0e52a1"></path>
                        <path d="M29.13,27.22l0,0a13.51,13.51,0,0,0,2.05,1.66,24.1,24.1,0,0,0,4.24,1c-.46-.35-.93-.72-1.37-1.09a22.47,22.47,0,0,1-4.9-1.66" fill="#0e52a1"></path>
                        <path d="M26.94,29.06a15.62,15.62,0,0,0,.95,2.18A23.41,23.41,0,0,0,31.34,34c-.29-.52-.56-1.07-.82-1.61a24.14,24.14,0,0,1-3.58-3.36" fill="#0e52a1"></path>
                        <path d="M23.36,34.44a24.39,24.39,0,0,1,0-3.2c-.23-.44-.71-1.39-.71-1.39-.1.89-.14,1.78-.16,2.67l.89,1.92" fill="#0e52a1"></path>
                        <path d="M24.25,29.85a10.51,10.51,0,0,0-.15,2.07,22.83,22.83,0,0,0,1.95,3.93c-.05-.6-.09-1.2-.09-1.8a24.19,24.19,0,0,1-1.71-4.2" fill="#0e52a1"></path>
                        <path d="M17.26,28.51c.2-.54.41-1.06.66-1.58a24.91,24.91,0,0,0-2.55,2.24c-.31.7-.56,1.42-.8,2.13a22.87,22.87,0,0,1,2.69-2.79" fill="#0e52a1"></path>
                        <path d="M21.46,29.48a9.29,9.29,0,0,0-.94,1.61,24.49,24.49,0,0,0,.15,4.29c.19-.58.41-1.14.66-1.72a23.41,23.41,0,0,1,.13-4.18" fill="#0e52a1"></path>
                        <path d="M17.44,31.5a21.43,21.43,0,0,1,1.65-3.45,7.66,7.66,0,0,0-1.49,1.06,23.58,23.58,0,0,0-1.5,3.76,15.8,15.8,0,0,1,1.34-1.37" fill="#0e52a1"></path>
                        <path d="M22.07,9.18c0-.41.05-.82.05-1.22,0-.14,0-.27,0-.41A27.14,27.14,0,0,0,16.55.85L16,1.47a26.19,26.19,0,0,1,6.06,7.71" fill="#0e52a1"></path>
                        <path d="M34.59,11.15a26.85,26.85,0,0,0,1.22-7.84H35a25.6,25.6,0,0,1-1.65,8.87c.43-.33.83-.68,1.24-1" fill="#0e52a1"></path>
                        <path d="M38.36,21.16c-.66.52-1.33,1-2,1.51a24.37,24.37,0,0,0,7.43-3.41l-.46-.68a23.82,23.82,0,0,1-4.94,2.58" fill="#0e52a1"></path>
                        <path d="M26.81,9.58a25,25,0,0,0-1.32-6.89l-.77.25A26.48,26.48,0,0,1,25.7,7c.41.85.78,1.72,1.11,2.59" fill="#0e52a1"></path>
                        <path d="M32.15,10.05c0,.79-.08,1.58-.16,2.4a24.22,24.22,0,0,0,1.82-7.11L33,5.26a23.55,23.55,0,0,1-.87,4.36c0,.14,0,.29,0,.43" fill="#0e52a1"></path>
                        <path d="M35.27,17.23a24.06,24.06,0,0,0,5-6l-.72-.43A23,23,0,0,1,36.47,15c-.37.76-.78,1.51-1.2,2.27" fill="#0e52a1"></path>
                        <path d="M37.13,17.11c.52-.11,1-.25,1.52-.4A27,27,0,0,0,43,10.22l-.73-.35a26,26,0,0,1-5.09,7.24" fill="#0e52a1"></path>
                        <path d="M69.17,12V27.25a4.67,4.67,0,0,1-1.43,3.84c-1,.82-2.79,1.26-5.41,1.19-2.38,0-4-.64-4.8-1.7a4.58,4.58,0,0,1-.81-2.92V24.84H59v1.53c0,1,.1,1.76.13,2.21a2.08,2.08,0,0,0,.58,1.12,4.72,4.72,0,0,0,2.73.64,13.9,13.9,0,0,1,1.43-.13,4.65,4.65,0,0,0,1.35-.14,2.29,2.29,0,0,0,1-.51,2,2,0,0,0,.62-.92,8.39,8.39,0,0,0,.13-1.56V12Z" fill="#0e52a1"></path>
                        <path d="M77.47,26l4.39-12.08L86.38,26ZM80.22,12,72.88,32.15h2.38l1.56-4.26H87l1.66,4.26H91L83.42,12Z" fill="#0e52a1"></path>
                        <path d="M104.14,30.14H96.76V14h8A3.5,3.5,0,0,1,108,15.55a6.67,6.67,0,0,1,1,3.6v4.46c0,2.48-.33,4.15-1,5.1s-1.94,1.43-3.81,1.43m.78,2a6.58,6.58,0,0,0,3.27-.79c2-1.15,3.06-3.53,3.06-7.17V19.87a10,10,0,0,0-1-4.94c-1.09-2-3.1-2.92-5.92-2.92H94.48V32.15Z" fill="#0e52a1"></path>
                        <path d="M118.87,26l4.43-12.08L127.82,26ZM121.66,12l-7.34,20.14h2.34l1.57-4.26h10.21l1.63,4.26h2.34L124.86,12Z" fill="#0e52a1"></path>
                        <polygon points="138.37 12.01 138.37 20.82 140.38 20.82 148.61 12.01 151.6 12.01 142.38 21.77 152.73 32.15 149.63 32.15 140.38 22.79 138.37 22.79 138.37 32.15 136.12 32.15 136.12 12.01 138.37 12.01" fill="#0e52a1"></polygon>
                        <path d="M63.45,48.81h-1.2l-.65-1.56H58.54l-.66,1.56H56.72l2.84-6.51h1Zm-3.38-5.15L59,46.24h2.22Z" fill="#636467"></path>
                        <polygon points="71.66 42.35 72.77 42.35 72.77 48.8 71.82 48.8 68.26 44.21 68.26 48.8 67.14 48.8 67.14 42.35 68.2 42.35 71.66 46.81 71.66 42.35" fill="#636467"></polygon>
                        <path d="M76.75,48.92a2.54,2.54,0,1,1,2.61-2.55,2.56,2.56,0,0,1-2.61,2.55m0-4.11a1.46,1.46,0,0,0-1.47,1.56A1.51,1.51,0,0,0,76.77,48a1.46,1.46,0,0,0,1.47-1.56,1.51,1.51,0,0,0-1.49-1.58" fill="#636467"></path>
                        <polygon points="83.7 43.94 84.87 43.94 82.88 48.84 81.87 48.84 79.87 43.94 81.07 43.94 82.38 47.51 83.7 43.94" fill="#636467"></polygon>
                        <path d="M88.76,48.81v-.6a2,2,0,0,1-1.58.7,1.56,1.56,0,0,1-1.73-1.51h0c0-1.06.84-1.57,2-1.57a4.14,4.14,0,0,1,1.35.2V45.9c0-.67-.42-1-1.2-1a3.45,3.45,0,0,0-1.39.3l-.31-.89a4.19,4.19,0,0,1,1.86-.41,1.88,1.88,0,0,1,2.14,2.06v2.89Zm0-2.07a3.22,3.22,0,0,0-1.12-.19c-.7,0-1.11.28-1.11.78v0c0,.46.41.72.94.72.73,0,1.29-.42,1.29-1Z" fill="#636467"></path>
                        <path d="M92.43,48.81H91.32V43.94h1.11v.75A1.76,1.76,0,0,1,94,43.84a1.67,1.67,0,0,1,1.74,1.87v3.1H94.57V46c0-.76-.38-1.19-1-1.19a1.08,1.08,0,0,0-1.1,1.21Z" fill="#636467"></path>
                        <path d="M98.41,47.28a.53.53,0,0,0,.6.61,1.56,1.56,0,0,0,.7-.16v.91a1.94,1.94,0,0,1-1,.25,1.25,1.25,0,0,1-1.4-1.43V44.89h-.62v-1h.62V42.6h1.11v1.34h1.31v1H98.41Z" fill="#636467"></path>
                        <path d="M103.92,48.81v-.6a2,2,0,0,1-1.57.7,1.56,1.56,0,0,1-1.74-1.51h0c0-1.06.84-1.57,2-1.57a4.07,4.07,0,0,1,1.34.2V45.9c0-.67-.42-1-1.2-1a3.45,3.45,0,0,0-1.39.3l-.3-.89a4.15,4.15,0,0,1,1.85-.41A1.88,1.88,0,0,1,105,45.92v2.89Zm0-2.07a3.22,3.22,0,0,0-1.12-.19c-.7,0-1.11.28-1.11.78v0c0,.46.41.72.94.72.74,0,1.29-.42,1.29-1Z" fill="#636467"></path>
                        <path d="M112.07,48.92a3.34,3.34,0,0,1,.05-6.68,3.3,3.3,0,0,1,2.52,1l-.72.83a2.59,2.59,0,0,0-1.81-.8,2.3,2.3,0,0,0,0,4.59A2.51,2.51,0,0,0,114,47l.73.74a3.33,3.33,0,0,1-2.62,1.15" fill="#636467"></path>
                        <path d="M118.09,48.92a2.54,2.54,0,1,1,2.61-2.55,2.53,2.53,0,0,1-2.61,2.55m0-4.11a1.46,1.46,0,0,0-1.46,1.56A1.51,1.51,0,0,0,118.11,48a1.47,1.47,0,0,0,1.48-1.56,1.51,1.51,0,0,0-1.5-1.58" fill="#636467"></path>
                        <path d="M127.62,43.84a1.64,1.64,0,0,1,1.71,1.86v3.11h-1.12V46c0-.78-.36-1.19-1-1.19s-1,.42-1,1.21v2.75h-1.11V46c0-.76-.37-1.18-1-1.18s-1,.46-1,1.22v2.74h-1.12V43.94H123v.73a1.75,1.75,0,0,1,1.49-.83,1.53,1.53,0,0,1,1.44.85,2,2,0,0,1,1.65-.85" fill="#636467"></path>
                        <path d="M133.58,48.91a2,2,0,0,1-1.65-.86v2.23h-1.12V43.94h1.12v.81a1.93,1.93,0,0,1,1.65-.91,2.55,2.55,0,0,1,0,5.07m-.26-4.11a1.58,1.58,0,0,0,0,3.14,1.58,1.58,0,0,0,0-3.14" fill="#636467"></path>
                        <path d="M140.05,48.81v-.6a2,2,0,0,1-1.58.7,1.56,1.56,0,0,1-1.73-1.51h0c0-1.06.83-1.57,2-1.57a4.14,4.14,0,0,1,1.35.2V45.9c0-.67-.43-1-1.2-1a3.5,3.5,0,0,0-1.4.3l-.3-.89a4.15,4.15,0,0,1,1.85-.41,1.88,1.88,0,0,1,2.14,2.06v2.89Zm0-2.07a3.16,3.16,0,0,0-1.11-.19c-.7,0-1.12.28-1.12.78v0c0,.46.42.72.94.72.74,0,1.29-.42,1.29-1Z" fill="#636467"></path>
                        <path d="M143.72,48.81H142.6V43.94h1.12v.75a1.74,1.74,0,0,1,1.52-.85A1.66,1.66,0,0,1,147,45.71v3.1h-1.11V46c0-.76-.38-1.19-1.05-1.19a1.08,1.08,0,0,0-1.09,1.21Z" fill="#636467"></path>
                        <path d="M150.79,48.94c-.39,1-.82,1.37-1.61,1.37A2.21,2.21,0,0,1,148,50l.38-.83a1.4,1.4,0,0,0,.66.19c.31,0,.5-.14.69-.56l-2-4.87h1.19l1.38,3.61,1.26-3.61h1.17Z" fill="#636467"></path>
                    </svg>
                </a>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 Novanta Inc. and its affiliated companies. All rights reserved.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
